!!!
%html
  %head
    %title DirectDemocracyAsia
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %div
      - if user_signed_in?
        = link_to t('sign out'), destroy_user_session_path, method: :delete
        = link_to current_user.email, ''
      - else
        = link_to t('sign up'), new_user_registration_path
        = link_to t('sign in'), new_user_session_path
    %p.notice= notice
    %p.alert= alert
    = yield